In [1]:
import pandas as pd
import matplotlib as plot

In [10]:
df_job_month = pd.read_csv("correlation2_dataset.csv").drop(columns = ["Time"])

,AI Architect,AI Consultant,AI Product Manager,AI Research Scientist,AI Software Engineer,AI Specialist,Autonomous Systems Engineer,Computer Vision Engineer,Data Analyst,Data Engineer,...,Deep Learning Engineer,Head of AI,Machine Learning Engineer,Machine Learning Researcher,ML Ops Engineer,NLP Engineer,Principal Data Scientist,Research Scientist,Robotics Engineer,month_subtraction_period
0,49,35,58,48,60,53,53,54,41,42,...,50,43,48,46,35,52,43,44,46,1
1,45,43,52,43,54,52,40,44,44,50,...,39,44,45,61,45,59,48,41,38,2
2,50,47,52,42,44,34,50,50,55,56,...,42,46,40,45,43,47,43,59,47,3
3,50,39,40,47,62,34,46,47,49,48,...,55,62,51,59,45,48,52,57,53,4
4,53,41,55,49,42,46,56,46,52,46,...,41,44,58,38,42,52,51,53,42,5
5,45,44,33,52,49,48,54,43,41,50,...,43,59,51,32,46,54,46,44,47,6
6,59,46,46,39,48,47,36,46,47,43,...,44,55,46,42,51,47,43,56,72,7
7,50,45,51,38,40,54,48,47,50,55,...,44,54,53,54,41,51,48,54,42,8
8,42,54,42,49,37,51,37,46,59,43,...,52,48,48,65,33,44,34,30,45,9
9,51,42,53,55,49,45,58,45,53,42,...,40,47,35,47,48,55,46,40,50,10
10,50,44,43,44,48,44,45,47,44,45,...,45,47,40,52,50,50,43,44,38,11
11,52,39,53,55,67,33,50,45,45,52,...,45,41,52,53,59,42,34,43,53,12
12,60,54,43,55,49,56,39,42,45,38,...,43,44,51,61,56,50,46,46,46,13
13,37,41,27,35,50,43,56,37,40,36,...,44,60,41,32,44,37,62,34,49,14
14,38,36,52,51,54,42,52,38,44,61,...,44,26,64,53,40,31,47,55,46,15
15,40,54,43,54,31,46,57,47,50,42,...,47,45,49,68,47,43,48,42,45,16

In [11]:
df_job_month.transpose()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
AI Architect,49,45,50,50,53,45,59,50,42,51,50,52,60,37,38,40
AI Consultant,35,43,47,39,41,44,46,45,54,42,44,39,54,41,36,54
AI Product Manager,58,52,52,40,55,33,46,51,42,53,43,53,43,27,52,43
AI Research Scientist,48,43,42,47,49,52,39,38,49,55,44,55,55,35,51,54
AI Software Engineer,60,54,44,62,42,49,48,40,37,49,48,67,49,50,54,31
AI Specialist,53,52,34,34,46,48,47,54,51,45,44,33,56,43,42,46
Autonomous Systems Engineer,53,40,50,46,56,54,36,48,37,58,45,50,39,56,52,57
Computer Vision Engineer,54,44,50,47,46,43,46,47,46,45,47,45,42,37,38,47
Data Analyst,41,44,55,49,52,41,47,50,59,53,44,45,45,40,44,50
Data Engineer,42,50,56,48,46,50,43,55,43,42,45,52,38,36,61,42
Data Scientist,53,40,40,41,48,57,46,39,36,48,59,46,40,35,48,44
Deep Learning Engineer,50,39,42,55,41,43,44,44,52,40,45,45,43,44,44,47
Head of AI,43,44,46,62,44,59,55,54,48,47,47,41,44,60,26,45
Machine Learning Engineer,48,45,40,51,58,51,46,53,48,35,40,52,51,41,64,49
Machine Learning Researcher,46,61,45,59,38,32,42,54,65,47,52,53,61,32,53,68
ML Ops Engineer,35,45,43,45,42,46,51,41,33,48,50,59,56,44,40,47
NLP Engineer,52,59,47,48,52,54,47,51,44,55,50,42,50,37,31,43
Principal Data Scientist,43,48,43,52,51,46,43,48,34,46,43,34,46,62,47,48
Research Scientist,44,41,59,57,53,44,56,54,30,40,44,43,46,34,55,42
Robotics Engineer,46,38,47,53,42,47,72,42,45,50,38,53,46,49,46,45
month_subtraction_period,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16

In [36]:
# Create new dataframe for all of each job title
category_job = pd.DataFrame(columns = ["Job_Title", "Number_of_Job_Posted", "Month_Cumulative"])
ai_architect = pd.DataFrame(columns = ["Job_Title", "Number_of_Job_Posted", "Month_Cumulative"])
ai_consultant = pd.DataFrame(columns = ["Job_Title", "Number_of_Job_Posted", "Month_Cumulative"])
ai_product_manager = pd.DataFrame(columns = ["Job_Title", "Number_of_Job_Posted", "Month_Cumulative"])
ai_research_scientist = pd.DataFrame(columns = ["Job_Title", "Number_of_Job_Posted", "Month_Cumulative"])
ai_software_engineer = pd.DataFrame(columns = ["Job_Title", "Number_of_Job_Posted", "Month_Cumulative"])
ai_specialist = pd.DataFrame(columns = ["Job_Title", "Number_of_Job_Posted", "Month_Cumulative"])
ase = pd.DataFrame(columns = ["Job_Title", "Number_of_Job_Posted", "Month_Cumulative"])
cve = pd.DataFrame(columns = ["Job_Title", "Number_of_Job_Posted", "Month_Cumulative"])
data_analyst = pd.DataFrame(columns = ["Job_Title", "Number_of_Job_Posted", "Month_Cumulative"])
data_engineer = pd.DataFrame(columns = ["Job_Title", "Number_of_Job_Posted", "Month_Cumulative"])
data_scientist = pd.DataFrame(columns = ["Job_Title", "Number_of_Job_Posted", "Month_Cumulative"])
dle = pd.DataFrame(columns = ["Job_Title", "Number_of_Job_Posted", "Month_Cumulative"])
head_of_ai = pd.DataFrame(columns = ["Job_Title", "Number_of_Job_Posted", "Month_Cumulative"])
mle = pd.DataFrame(columns = ["Job_Title", "Number_of_Job_Posted", "Month_Cumulative"])
mlr = pd.DataFrame(columns = ["Job_Title", "Number_of_Job_Posted", "Month_Cumulative"])
mlops_engineer = pd.DataFrame(columns = ["Job_Title", "Number_of_Job_Posted", "Month_Cumulative"])
nlp_engineeer = pd.DataFrame(columns = ["Job_Title", "Number_of_Job_Posted", "Month_Cumulative"])
pds = pd.DataFrame(columns = ["Job_Title", "Number_of_Job_Posted", "Month_Cumulative"])
research_scientist = pd.DataFrame(columns = ["Job_Title", "Number_of_Job_Posted", "Month_Cumulative"])
robotics_engineer = pd.DataFrame(columns = ["Job_Title", "Number_of_Job_Posted", "Month_Cumulative"])

In [40]:
# Assign all the value for each of job title's dataframe
is_ai_architect = df_job_month["AI Architect"]
ai_architect["Job_Title"] = "AI Architect"
ai_architect["Number_of_Job_Posted"] = df_job_month["AI Architect"]
ai_architect["Month_Cumulative"] = df_job_month["month_subtraction_period"]
is_ai_consultant = df_job_month["AI Architect"]
ai_consultant["Job_Title"] = "AI Consultant"
ai_consultant["Number_of_Job_Posted"] = df_job_month["AI Consultant"]
ai_consultant["Month_Cumulative"] = df_job_month["month_subtraction_period"]
is_ai_product_manager = df_job_month["AI Product Manager"]
ai_product_manager["Job_Title"] = "AI Product Manager"
ai_product_manager["Number_of_Job_Posted"] = df_job_month["AI Product Manager"]
ai_product_manager["Month_Cumulative"] = df_job_month["month_subtraction_period"]
is_ai_research_scientist = df_job_month["AI Research Scientist"]
ai_research_scientist["Job_Title"] = "AI Research Scientist"
ai_research_scientist["Number_of_Job_Posted"] = df_job_month["AI Research Scientist"]
ai_research_scientist["Month_Cumulative"] = df_job_month["month_subtraction_period"]
is_ai_software_engineer = df_job_month["AI Software Engineer"]
ai_software_engineer["Job_Title"] = "AI Software Engineer"
ai_software_engineer["Number_of_Job_Posted"] = df_job_month["AI Software Engineer"]
ai_software_engineer["Month_Cumulative"] = df_job_month["month_subtraction_period"]
is_ai_specialist = df_job_month["AI Specialist"]
ai_specialist["Job_Title"] = "AI Specialist"
ai_specialist["Number_of_Job_Posted"] = df_job_month["AI Specialist"]
ai_specialist["Month_Cumulative"] = df_job_month["month_subtraction_period"]
is_ase = df_job_month["Autonomous Systems Engineer"]
ase["Job_Title"] = "Autonomous Systems Engineer"
ase["Number_of_Job_Posted"] = df_job_month["Autonomous Systems Engineer"]
ase["Month_Cumulative"] = df_job_month["month_subtraction_period"]
is_cve = df_job_month["Computer Vision Engineer"]
cve["Job_Title"] = "Computer Vision Engineer"
cve["Number_of_Job_Posted"] = df_job_month["Computer Vision Engineer"]
cve["Month_Cumulative"] = df_job_month["month_subtraction_period"]
is_data_analyst = df_job_month["Data Analyst"]
data_analyst["Job_Title"] = "Data Analyst"
data_analyst["Number_of_Job_Posted"] = df_job_month["Data Analyst"]
data_analyst["Month_Cumulative"] = df_job_month["month_subtraction_period"]
is_data_engineer = df_job_month["Data Engineer"]
data_engineer["Job_Title"] = "Data Engineer"
data_engineer["Number_of_Job_Posted"] = df_job_month["Data Engineer"]
data_engineer["Month_Cumulative"] = df_job_month["month_subtraction_period"]
is_data_scientist = df_job_month["Data Scientist"]
data_scientist["Job_Title"] = "Data Scientist"
data_scientist["Number_of_Job_Posted"] = df_job_month["Data Scientist"]
data_scientist["Month_Cumulative"] = df_job_month["month_subtraction_period"]
is_dle = df_job_month["Deep Learning Engineer"]
dle["Job_Title"] = "Deep Learning Engineer"
dle["Number_of_Job_Posted"] = df_job_month["Deep Learning Engineer"]
dle["Month_Cumulative"] = df_job_month["month_subtraction_period"]
is_head_of_ai = df_job_month["Head of AI"]
head_of_ai["Job_Title"] = "Head of AI"
head_of_ai["Number_of_Job_Posted"] = df_job_month["Head of AI"]
head_of_ai["Month_Cumulative"] = df_job_month["month_subtraction_period"]
is_mle = df_job_month["Machine Learning Engineer"]
mle["Job_Title"] = "Machine Learning Engineer"
mle["Number_of_Job_Posted"] = df_job_month["Machine Learning Engineer"]
mle["Month_Cumulative"] = df_job_month["month_subtraction_period"]
is_mlr = df_job_month["Machine Learning Researcher"]
mlr["Job_Title"] = "Machine Learning Researcher"
mlr["Number_of_Job_Posted"] = df_job_month["Machine Learning Researcher"]
mlr["Month_Cumulative"] = df_job_month["month_subtraction_period"]
is_mlops_engineer = df_job_month["ML Ops Engineer"]
mlops_engineer["Job_Title"] = "ML Ops Engineer"
mlops_engineer["Number_of_Job_Posted"] = df_job_month["ML Ops Engineer"]
mlops_engineer["Month_Cumulative"] = df_job_month["month_subtraction_period"]
is_nlp_engineeer = df_job_month["NLP Engineer"]
nlp_engineeer["Job_Title"] = "NLP Engineer"
nlp_engineeer["Number_of_Job_Posted"] = df_job_month["NLP Engineer"]
nlp_engineeer["Month_Cumulative"] = df_job_month["month_subtraction_period"]
is_pds = df_job_month["Principal Data Scientist"]
pds["Job_Title"] = "Principal Data Scientist"
pds["Number_of_Job_Posted"] = df_job_month["Principal Data Scientist"]
pds["Month_Cumulative"] = df_job_month["month_subtraction_period"]
is_research_scientist = df_job_month["Research Scientist"]
research_scientist["Job_Title"] = "Research Scientist"
research_scientist["Number_of_Job_Posted"] = df_job_month["Research Scientist"]
research_scientist["Month_Cumulative"] = df_job_month["month_subtraction_period"]
is_robotics_engineer = df_job_month["Robotics Engineer"]
robotics_engineer["Job_Title"] = "Robotics Engineer"
robotics_engineer["Number_of_Job_Posted"] = df_job_month["Robotics Engineer"]
robotics_engineer["Month_Cumulative"] = df_job_month["month_subtraction_period"]

In [43]:
# Concatenate all dataframe into one dataframe
category_job = pd.concat(
    [
        ai_architect,
        ai_consultant,
        ai_product_manager,
        ai_research_scientist,
        ai_software_engineer,
        ai_specialist,
        ase,
        cve,
        data_analyst,
        data_engineer,
        data_scientist,
        dle,
        head_of_ai,
        mle,
        mlr,
        mlops_engineer,
        nlp_engineeer,
        pds,
        research_scientist,
        robotics_engineer
    ]
)

category_job

In [45]:
# Export to .csv
category_job.to_csv("category_job_by_month.csv")